@model List<MyFitnessJourney.Web.Models.PersonalBest.PersonalBestViewModel>

@{
    foreach (var item in Model)
    {
        <h2>
            <a asp-controller="PersonalBest"
               asp-action="GetPerExercise"
               asp-route-exerciseId="@item.ExerciseId">
                @item.Exercise
            </a> -> @item.Weight kg -> @item.Date
        </h2>
    }
}
