@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-action="Create" asp-controller="Exercise" method="post">
    <input type="text" id="name" name="name" />
    <button type="submit">Save</button>
</form>
