@using MyFitnessJourney.Web.Models.WorkoutProgram
@model WorkoutProgramViewModel

@{
    ViewData["Title"] = "Create Training Program";
    string exercisesJson = System.Text.Json.JsonSerializer.Serialize(Model.Exercises.Select(x => new { id = x.Id, name = x.CapitalizedName }).ToList());
}

<h2>@ViewData["Title"]</h2>

<div id="exercisesData" data-exercises='@exercisesJson'></div>

<form asp-action="Create" method="post" id="trainingForm">
    <div id="daysContainer">
        <div class="day-block" data-day-index="0">
            <h3>Day 1</h3>
            <input type="hidden" name="Program.Days[0].DayName" value="Day 1" />

            <div class="exercisesContainer">
                <div class="exercise-row">
                    <select class="exerciseSelect" name="Program.Days[0].Exercises[0].Name" required>
                        <option value="">-- Select Exercise --</option>
                        @foreach (var exercise in Model.Exercises)
                        {
                            <option value="@exercise.CapitalizedName" data-id="@exercise.Id">@exercise.CapitalizedName</option>
                        }
                    </select>

                    <input type="hidden" name="Program.Days[0].Exercises[0].ExerciseId" value="" class="exerciseIdInput" />

                    <input type="number" name="Program.Days[0].Exercises[0].Sets" min="1" placeholder="Sets" required />
                    <input type="number" name="Program.Days[0].Exercises[0].RepsMin" min="1" placeholder="Min Reps" required />
                    <input type="number" name="Program.Days[0].Exercises[0].RepsMax" min="1" placeholder="Max Reps" required />

                    <button type="button" class="removeExerciseBtn">Remove Exercise</button>
                </div>
            </div>

            <button type="button" class="addExerciseBtn">Add Exercise</button>
            <button type="button" class="removeDayBtn">Remove Day</button>
        </div>
    </div>

    <button type="button" id="addDayBtn">Add Day</button>

    <br /><br />
    <button class="btn btn-success" type="submit">Save Program</button>
</form>
